{# 模板，使用extends扩展 #}
{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{# 页面内容 #}
{% block content %}
    
    <!-- 文章主体 -->
    <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
        <h3>
            {{ blog.title }}
        </h3>
        
        <h4>
            作者：{{ blog.author }}
        </h4>

        <h4>
            发布时间：{{ blog.created_time|date:"Y-m-d H:n:s" }}
        </h4>

        <p>
            分类：
            <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                {{ blog.blog_type }}
            </a>
        </p>

        <p>
            <b>内容:</b>{{ blog.content }}
        </p>
    </div>
    
    <!-- 侧边栏 
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
                <h4>分类 </h4>
                <ul>
                    <li>Django</li>
                    <li>鸡汤</li>
                    <li>学习</li>
                </ul>
        </div>
    </div>
    -->
{% endblock %}
    