{# 模板，使用extends扩展 #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block self_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
{% endblock %}

{# 页面标题 #}
{% block title %}
    廖飞博客网  | 首页
{% endblock %}
    
{% block content %}
    




<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="cover-heading">欢迎</h1>
                <p class="lead">
                    这是廖飞的个人博客网站，欢迎您浏览~您在这里能看到我发表的各种文章，例如感悟，学习笔记等等~嘻嘻
                </p>
                <p class="lead">
                    <a href="{% url 'connect_me' %}" class="btn btn-lg btn-default">查看我的个人简历</a>
                </p>
            </div>
        </div>
    </div> 
</div>
{% endblock %}